html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.phone {
        display: none;
    }
.page-wrapper{
    display: flex;
}

header{
    background-image: url(../img/fantasy2-3334834_1920.jpg);
    background-size: cover;
    height: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

.entente{
    margin: 1em;
}

.the {

    font-family: 'Lobster', cursive;
    margin-left: 0.8em;
    padding-top: 1em;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3115ce, 0 0 30px#3115ce, 0 0 40px #3115ce, 0 0 50px#3115ce, 0 0 75px #3115ce;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Noto Sans JP';
    display: flex;
    justify-content: flex-start;
    
}

.dungeon{
    font-family: 'Lobster', cursive;
    margin-left: 1.6em;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3115ce, 0 0 30px#3115ce, 0 0 40px #3115ce, 0 0 50px#3115ce, 0 0 75px #3115ce;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Noto Sans JP';
    display: flex;
    justify-content: center;
    
}

.text {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
}

main h2 {
    display: flex;
    align-items: center;
    padding: 1em;
    color: #292955;
    text-shadow:       -1px -1px 5px #292955;
    font-size: medium;
    font-weight: bold;
    font-family: 'Noto Sans JP';  
    
}



table {
    
    border-collapse: separate;
    border-spacing: .1em .1em;
    background-color: #e8f1e4e7;
    margin: 0 auto;
}

tfoot tr {
    border-bottom: 0.15em solid #72132b;
}

th {
    color: #292955;
    text-shadow:       -1px -1px 5px #292955;
    font-size: medium;
    border:0.15em solid #72132b ;
    
}


tr {
    text-align: center;
    
    border-left: 0.15em solid #72132b;
    border-right: 0.15em solid #72132b;

}

 td img{
    width:2em;
    height: 1.5em;
}



td {
    color: #292955;
    text-shadow:       -1px -1px 5px #292955;
    font-size: medium;
    font-weight: bold;
    width: 2.7em;
    height: 1.7em;
    margin: 0.2em;
   
    
}


.Direction {
    margin: 1em;
}

.Direction img {

    width: 5em;
    height: 5em;
}

.centre{
    display: flex;
    justify-content: center;
    
}

.top {
    display: flex;
    justify-content: center;
}

#haut:hover {
    cursor: pointer;
}
#haut:active{
    cursor: pointer;
    border: inset rgb(224, 177, 57);
    text-shadow: inset 1em 1em 5.5em #000000;
}

#bas:hover {
    cursor: pointer;
}
#bas:active{
    cursor: pointer;
    border: inset rgb(224, 177, 57);
    text-shadow: inset 1em 1em 5.5em #000000;
}

#droite:hover {
    cursor: pointer;
}
#droite:active{
    cursor: pointer;
    border: inset rgb(224, 177, 57);
    text-shadow: inset 1em 1em 5.5em #000000;
}

#gauche:hover {
    cursor: pointer;
}
#gauche:active{
    cursor: pointer;
    border: inset rgb(224, 177, 57);
    text-shadow: inset 1em 1em 5.5em #000000;
}

#saut:hover {
    cursor: pointer;
}
#saut:active{
    
    border: outset rgb(150, 106, 18);
    text-shadow: inset 1em 1em 5.5em #000000;
}



.rectangle{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
}

.exit {
   
    display: flex;
    justify-content: flex-end;
    
}

.exit img {
   
    width: 4em;
    height: 4em;
}

.whrappers {
    background-image: url(../img/closed-cartoon-treasure-chest-vector.jpg);
    margin: 0 auto;
    max-width:50em; ;
}



.footer {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3115ce, 0 0 30px#3115ce, 0 0 40px #3115ce, 0 0 50px#3115ce, 0 0 75px #3115ce;
    letter-spacing: 5px;
    height:  2.5em;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color:#292955 ;
    font-size: xx-small;
}


.joueur {
    display: flex;
    justify-content: flex-end;
    
    margin-right: 7.5em;
    margin-bottom: 2em;
}

.joueur img {
    width: 4em;
    height: 4em;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #292955;
    text-shadow:       -1px -1px 5px #292955;
    font-size: medium;
    font-weight: bold;
    font-family: 'Noto Sans JP';  
  }

  .modal-content p {
      margin-top: .7em;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    height: 3em;
    padding: 2px 16px;
    font-family: 'Lobster', cursive;
    background-color: rgb(187, 173, 137);
    color: #3115ce;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 40px #3115ce, 0 0 50px#3115ce, 0 0 75px #3115ce;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Noto Sans JP';
    justify-content: center;
  }
  .modal-header h2 {
      margin-top: 0.7em;
  }
  
  .modal-body {
      padding: 2px 16px;
      font-size: small;
      font-weight: bold;
      height: 75%;
      margin: 0 auto;
}

.modal-body p {
    padding-bottom: 0.5em;
}
  #Nom {
  margin-bottom : 0.5em;
  }
  #joueurid {
    margin-top: 0.5em;
    width: 6.3em;
    height: 1.5em;
    text-align: center;
    color: #292955;
    text-shadow:       -1px -1px 5px #292955;
    font-size:small;
    font-weight: bold;
    font-family: 'Noto Sans JP';  
  } 
  #coffreId:hover {
    cursor: pointer;
}
#coffreId:active{
    
    border: outset rgb(150, 106, 18);
    text-shadow: inset 1em 1em 5.5em #000000;
}
#reset:hover {
    cursor: pointer;
}
#reset:active{
    
    border: outset rgb(150, 106, 18);
    text-shadow: inset 1em 1em 5.5em #000000;
}

#aleatoire {
    display: none;
}
@media (min-width: 700px){
    #aleatoireP {
        display: none;
    }
    #aleatoire {
        display: table-cell;
    }
    .phone{
        display: table-cell;
    }
    .footer{
        font-size: medium;
    }
    .modal-body {
        font-size: large;
    }
    #joueurid{
        font-size: x-large;
    }
    main h2 {
        font-size: xx-large;
    }
    .the{
        font-size: 3em;
    }
    .dungeon{
        font-size: 3em;
    }
    header {
        height: 12em;
    }
}
